{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('asset/styles/login.css') }}">
 {% endblock %}
{% block body %}
<section>
    <div class="form-box">
        <div class="form-value">
            <form action="{{ path('login_page') }}" method="post" >
            <h2>Email</h2>
                <div class="inputbox">
                     <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" id ="email"  required>
                    <label for="">email</label>
                </div>
            </form>
        </div>
    </div>
</section>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
 {% endblock %}